<!-- <div class="card border-dark mb-3" style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Dark card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div> -->

<div class="col-md-4">

  <a href="">

    <img src="" alt="" class="img-thumbnail">

  </a>

  <h3 class="title">Nombre Heroe</h3>

  <div class="row">

    <button type="button" class="btn btn-outline-success">Añadir</button>
    <button type="button" class="btn btn-info">Info</button>

  </div>

  <!-- <div class="card-footer" style="justify-content: flex-end; padding-right: 10px; display: flex;">
    <button class="btn btn-warning">
        <i class="material-icons">edit</i>
    </button>
    <button class="btn btn-danger">
      <i class="material-icons">delete</i>
    </button>
  </div> -->

</div>

<!-- </div> -->
